<div style="margin-bottom: auto; padding-bottom: auto; margin-left: auto; margin-right: auto" class="border-bottom row">
  <div class="container text-center">
    <div class="row">
      <div class="col">
        <h4 margin-bottom: 4px style="color:rgb(120,120,120)">
          {{job['title']}}
        </h4>
        <p>
          <b>Location: </b>{{job['location']}}
        </p>
        <p>
            {% if job['salary'] %}
                <b>Salary: </b>{{ job['currency'] }} {{ job['salary'] }}
            {% endif %}
        </p>
      </div>
      <div class="col" style="margin-top: 35px">
        <button type="button" class="btn btn-outline-primary ">Apply</button>
      </div>
    </div>
  </div>
</div>