<div style="margin-bottom: auto; padding-bottom: auto; margin-left: auto; margin-right: auto" class="border-bottom row">
  <div>
    <div>
      <div>
        <br>
        <h4 margin-bottom: 4px style="color:rgb(120,120,120)">
          {{job['title']}}
        </h4>
        <p>
          <b>Location: </b>{{job['location']}}
        </p>
        <p>
            {% if job['salary'] %}
                <b>Salary: </b>{{ job['currency'] }} {{ job['salary'] }}
            {% endif %}
        </p>
        <p>
          <b>Description: </b><br>{{job['responsibilities']}}
        </p>
        <p>
          <b>Requirements: </b><br>{{job['requirements']}}
        </p>
        <br>
      </div>
      <div class="col" style="margin-top: 35px">
        <a href="/apply/{{ job['id'] }}" class="btn btn-outline-primary" role="button">Apply</a>
        <br>
      </div>
    </div>
  </div>
</div>